body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 50px;
}
p {
  text-align: justify;
}
span {
  color: orange;
}
img {
  height: 500px;
  width: 500px;
}
.fexible {
  display: flex;
  margin-bottom: 100px;
}
.main {
  width: 50%;
  padding: 50px;
}
/* .main img {
  width: 50%;
} */
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
}
.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}

.resume {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experice {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 60px;
  box-shadow: 20px 20px 50px lightsteelblue;
  border-radius: 10px;
}

#baby {
  border-left: 8px solid orange;
}
#full {
  border-left: 8px solid orangered;
}

.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
footer p {
  text-align: center;
}
